[submodule "riscv-gnu-toolchain"]
	path = riscv-gnu-toolchain
	url = https://github.com/riscv/riscv-gnu-toolchain.git
[submodule "riscv-openocd"]
	path = riscv-openocd
	url = https://github.com/riscv/riscv-openocd.git
